<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.qq.mapper.QqBusinessMessageMapper">

    <resultMap type="com.easy.qq.entity.QqBusinessMessage" id="QqBusinessMessageMap">
        <result property="messageId" column="MESSAGE_ID" jdbcType="INTEGER"/>
        <result property="userId" column="USER_ID" jdbcType="INTEGER"/>
        <result property="fromId" column="FROM_ID" jdbcType="INTEGER"/>
        <result property="gid" column="GID" jdbcType="INTEGER"/>
        <result property="businessType" column="BUSINESS_TYPE" jdbcType="INTEGER"/>
        <result property="message" column="MESSAGE" jdbcType="VARCHAR"/>
        <result property="messageExe" column="MESSAGE_EXE" jdbcType="VARCHAR"/>
        <result property="isRead" column="IS_READ" jdbcType="INTEGER"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>



</mapper>

